body{
    background-color: #8facd1;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

h3{
    font-size: 1.6rem;
}

p{
    padding: 10px;
    font-size: 1.3rem;
}

.container{
    background-color: #3d5677;
    border-radius: 5px;
    box-shadow: 4px 5px 4px rgb(180, 198, 219);
    width: 50%;
    position: relative;
    left: 25%;
    text-align: center;
}